/* //// Root Variables */
:root {
  --color-primary: #0d6efd;
  --color-white: #ffffff;
}

/* //// GLOBAL STYLES */

.section {
  margin-top: 8em;
  margin-bottom: 4em;
}

.active {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 3px;
}

hr {
  border-width: 2px;
}

textarea {
  box-shadow: 4px 4px 0px var(--color-primary);
  min-height: 2em;
  margin-bottom: 0.5em;
  padding: 10px;
}

.round-btn {
  border-radius: 10%;
  border-color: none;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}

/* //// NAVIGATION COMPONENT */
.navbar-brand {
  border: none;
}

.link {
  text-decoration: none;
}

.nav-link:active,
.nav-link:hover {
  color: var(--color-primary);
}

/* //// HOME COMPONENT */

.toggle-icon-container {
  display: flex;
  align-items: center;
}

#void-toggle-btn {
  text-decoration: none;
  font-size: 1.5em;
}

.toggle-text {
  font-size: medium;
  font-weight: bold;
  padding-left: 5px;
}

/* //// VOID COMPONENT */

.likes {
  font-size: x-small;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 4px;
}

/* //// WOF COMPONENT */
/*  .wof-component, .pinata, and .con-component are the exact same styling */
.wof-component {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.wof-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.wof-users-component {
  width: auto;
  height: auto;
  padding: 10px 10px 50px 30px;
  margin-right: 2em;
}

.wof-leger-component {
  width: auto;
  height: auto;
  padding: 5px 10px 5px 0px;
}

.wof-explain-points-component {
  border: 1px solid #dee2e6;
  clear: both;
  width: inherit;
  margin: 25px 5px;
  padding: 15px 10px 5px 10px;
}

.pinata {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.canvas-component {
  border: 1px solid black;
  position: sticky;
  width: 500px;
  height: 400px;
  flex-direction: inherit;

  background: white;
}

/* Sign Up Component */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce-img {
  animation: bounce 2s infinite;
}

/* //// MEDIA QUERIES */

@media screen and (max-width: 540px) {
  .wof-header-container {
    flex-direction: column;
    align-items: center;
  }
}

/* //// CONTROVERSY COMPONENT */
.con-component {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

/* this was already declared in the WOF component section
.wof-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.wof-users-component {
  width: auto;
  height: auto;
  padding: 10px 10px 50px 30px;
  margin-right: 2em;
} */

.cont-box {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 10px;
}
.link-muted {
  color: #aaa;
}
.link-muted:hover {
  color: #1266f1;
}

/* ////Notification component */
.notify-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  max-width: 300px;
  background-color: #0d6efd;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0 0 10px rgba(23, 5, 214, 0.2);
  z-index: 9999;

  /* display: block; */
}

.notify-popup {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  max-width: 300px;
  animation:
    slideIn 0.5s ease-in-out,
    fadeOut 0.5s 2s ease-in-out;
  background-color: red;
}

.notify-popup button {
  background-color: #ff5733;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

/* Animation Keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.centered-container {
  position: fixed;
  top: 1.1in; /* Adjust the top value to move it down from the top of the page */
  left: 1in;
  right: 1in;
  max-width: 90%; /* Adjust the maximum width as needed */
  background-color: #ffffff;
  z-index: 2000;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
}

.centered-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333; /* Adjust text color as needed */
}

.centered-container form {
  text-align: left; /* Align form elements to the left */
}

.centered-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Adjust label text color as needed */
}

.centered-container select,
.centered-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Adjust font size as needed */
}

.centered-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.centered-container button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

.mail-list {
  position: absolute;
  top: 4.5in; /* Adjust to match the top position of the centered container */
  right: 0;
  left: 0;
  background-color: white;
  z-index: 999; /* Adjust to be below the centered container */
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.mail-item {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mail-item p {
  margin: 0;
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 50%;
}

.droppable {
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
}

.droppable-active {
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
  background-color: #888;
}

.drop-container {
  background-color: #153252;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}
.drop-inhale {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
  width: 100%;
}
.drop-hold {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
  width: 100%;
}
.drop-exhale {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
  width: 100%;
}

.drop-pop {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
  width: 100%;
}

.scoreboard {
  display: flex;
  width: 100%;
}
